@model IEnumerable<DataBase.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
